
#image {
	background-image: url("temp_header@2x.png");
	background-size: cover;
	height: 90%;
/*	position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;*/
  

}

#headerdiv {
	height: 100px;
	
}
.headerdiv2{
height: 100px;
background-color: black;
}


#logo {
	padding-left: 100px;
	float: left;
}

#nav {
  	float:right;
  	padding-left: 100px;
}

#nav01 {
	float:left;
}

.center {
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
}


ul#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    list-style-type:none;
    }

    

ul#menu li {
    float: left;
}

ul#menu li a {
    display: block;
    text-align: center;
    padding: 15px 17px;
    text-decoration: underline;
    color: white;
}

ul#menu li a:hover:not(.active) {
    background-color: grey;
}


#quote {
float:right;
text-align: center;
display: block;

padding-left: 15px;
padding-top: 13px;
padding-bottom: 17px;
padding-right: 100px;
  }

 #requestbtn {
 	font-size: 16px;
	font-weight: bold;
	color: white;
	background-color: transparent;
	border-color: white;
 }


#centermain{
	height: 800px;
	overflow: hidden;
}

#main{
	padding-left: 160px;
 	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);

}
#somethingcool{
	font-size: 48px;
}


.summary {
	font-size: 48px;
	color: white;
	text-decoration: bold;
	/*background-color: black;*/
	display: inline-block;
	padding-right: 10px;
}

.stackdivs {
	float: left;
}

#browse {
	color: white;
	background-color: transparent;
	text-align: left;
	margin-top: 60px;

}
button.browse {
	border: white;
	font-size: 24px;
	font-weight: bold;
	padding: 30px;
	background: black;
	color:rgba();

}

#photogrid{
	text-align: center;
}

/*#photo1{
}

#photo2{
	width: 100%;
}*/

#cementwork1 {
	padding: 5px;
	

}
#overhang1 {
	padding: 5px;


}

#cementwork2 {
	padding: 5px;


}
#overhang2 {
	padding: 5px;

}
#contactus{
	height: 300px;
	background: grey;
	text-align: center;
}

#notsureyet{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
}

button.contactus {
	background-color: transparent;
	height: 80px;
	width: 500px;
	border-style: solid;
	border-color: white;
	border-width: 4px;
	font-size: 40px;
	font-family: sans-serif;
	font-weight: lighter;
	color: white;
	opacity: 0.6;
}
